[Desktop Entry]
Name=CARINA MissionLab
Comment=Embedded and robotics tooling
Exec=xfce4-terminal --command="carina missionlab status"
Icon=missionlab
Terminal=true
Type=Application
Categories=Development;Engineering;
